.nav{
    
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 2000;
    width: 100%;
    cursor: grab;
}
.Header{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: baseline;
}

.logo h3{
    color: white;
    font-size: 4vh;
}
.header1{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    
}
.fa{
    font-size: 3.5vh;
    padding-right: 20px;
}
.list{
    display: flex;
    align-items: baseline;
}
.Sea{
    font-size: 4vh;
    right: 0;
    display: flex;
    position: absolute;
}
.openSea{
    display: block;
}
/* .closedSea{
    display: none;
} */
.nav1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header{
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-right: 15%;
    margin-left: 3%;
}
.header h3{
    color: white;
}
.searchb{
    
    z-index: 10;
}
/* .searchb i{
    position: absolute;
    right: 10px;
} */
.search{
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 30px 0 30px;
    align-items: center;
    transition: 0.8s ease-in-out;
    background-color: black;
    color: white;
}
.search input{
    height: 30px;
    width: 100%;
    padding-left: 20px;
    background-color: black;
    color: white;
    border: none;
    
    border-bottom: 2px white solid;
    /*border-left: 2px black solid;
    border-right: 2px black solid;
    border-top: 2px black solid; */
    outline: none;
    /* display: none; */
}
ul{
    list-style:none;
    text-decoration: none;
    display: flex;
    color: white;
}
ul li Link{
    text-decoration: none;
    text-size-adjust: auto;
}
a h3
{
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding-right: 15px;
}
li a h3::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: orange;
    margin: auto;
    display: block;
}
li a h3:hover{
    color: orange;
}
li a h3:hover::after{
    color: orange;
    width: 100%;
    transition: width 0.3s linear;
}
a{
    color: white;
    text-decoration: none;
}
.sub-menu-wrap{
    position: absolute;
    top:   40%;
    right: 3%;
    width: 220px;
    
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.active{
    max-height: 550px;
}
.sub-menu-wrap.inactive{
    max-height: 0px;
}
.search.active {
    left: 0;
}
.menubtn{
    display: none;
}

.search.inactive {
    right: -110%;
}
.sub-menu h4{
    height: 30px;
    width: 150px;
    padding: 5px;
}
.sub-menu{
    background-color: rgb(8, 8, 8);
    padding: 20px;
    margin: 10px;
    font-size: 15px;
    transition: font-size 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height:400px;
}
.sub-menu h4::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: orange;
    margin: auto;
    display: block;

}
.sub-menu h4:hover::after{
    color: orange;
    width: 100%;
    transition: width 0.3s linear;
}
.sub-menu h4:hover{
    color: orange;
}

.nav-menu{
    background-color: black;

}
.nav-menu.active{
    max-height: 500px;
}
.nav-menu.inactive{
    max-height: 0px;
}
.menuu{
    display: none;
}

.logout-header1 div {
    padding: 0 10px;
    cursor: pointer;
    display: inline-block;
}
.logout-header1 div:hover {
    color: orange;
}
.logout-header1 div::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: orange;
    display: block;
}
.logout-header1 div:hover::after {
    color: orange;
    width: 100%;
    transition: width 0.3s linear;
}

.profile_img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}


@media only screen and (max-width:780px){
    .nav{
        width: 100%;
    }
    .navbar{
        display: none;

    }
    .header1 .fa{
        font-size: 3.5vh;
    }
    .menuu{
        display: block;
    }
    /* .nav{
        display: flex;
        flex-direction: column;
    } */
    .Header{
        display: flex;
        padding: 0 4vh 2vh 4vh;
        justify-content: space-between;
    }
    .menubtn button i{
        display: block;
        position: absolute;
        background-color: white;
        font-size: 30px;
        color: white;
        background-color: red;
        border: none;
        outline: none;
    }
    .menuinactive{
        display: none;
    }
    .menuactive{
        position: absolute;
        display: block;
        list-style: none;
        background-color: black;
        left: 0;
        top: 68px;
        transition: all 0.5s ease-out;
        width: 100%;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    
}