.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.messagetop{
    display: flex;
}
.messageimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.messagetext{
    color: white;
    background-color: rgb(27, 27, 234);
    padding: 15px;
    max-width: 300px;
    border-radius: 20px;
}
.messagebottom{
    font-size: 12px;
    margin-top: 10px;
    font-weight: 600;
}
.message.own{
    align-items: flex-end;
}
.message.own .messagetext{
    background-color: rgb(255, 231, 231);
    color: black;
}