.homesection{
    background-color: white;
    min-height: 500px;
    color: black;
    padding-top: 100px;
}
.doctorimg{
    display: flex;
    width: 100%;
}
.doctcont{
    width: 25%;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    padding: 100px;
    margin: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.doctcont span{
    font-size: 25px;
    font-weight: 400;
    
}
.doctcont h2{
    font-size: 45px;
    margin: 0;
    font-weight: 1500;
    color: rgb(21, 133, 133);
}
.doctcont p{
    margin-top: 20px;
    padding: 0;
}